/* create new survey form */
.create {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  /* padding: 10%; */
}
.subHeading {
    font-size: 1.2rem;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: rgb(107, 110, 117);
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
}
.create button {
  background: rgb(0, 123, 255);
  color: #ffffff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}