
.containers{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.surveys{
    margin: 0.5em;
    padding: 0.25em;
    width: 50vh;
    background: #BEBCBC;
    display: flex;
    justify-content: space-between;
}

.subHeading{
    font-size: 1.2rem;
}

.takeSurvey {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20%
}

.takesurvey:hover{
    cursor: pointer;
    color: blue;
}