/* take survey form */
.takesurveycontainer {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.subHeading {
    font-size: 1.2rem;
}
.create label {
  text-align: left;
  display: block;
}
.takesurveycontainer h2 {
  font-size: 20px;
  color: rgb(107, 110, 117);
  margin-bottom: 30px;
}
.takesurveycontainer input, .create textarea, .create select {
  width: 100%;
}
.takesurveycontainer button {
  background: rgb(0, 123, 255);
  color: #ffffff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}